.about {
  // display: flex;
  // flex-direction: column;

  h3 {
    text-indent: 4em;
  }
  p {
    margin: 10px;
    // max-width: 200em;
  }
  .react__player {
    max-width: 350px;
    max-height: 250px;
    margin: 5px;
  }

  @media screen and (min-width: 500px) {
    .react__player {
      max-width: 450px;
      max-height: 350px;
      margin: 5px;
    }
  }
  @media screen and (min-width: 750px) {
    .react__player {
      max-width: 550px;
      max-height: 400px;
      margin: 5px;
    }
  }
}
